h2{
    color: darkblue; text-align: center;
}
p{
    background-color: cyan; color: blue;
    padding: 10px;
}
.h2{
    color: blue; text-align: left;
}
ul{
    color: cyan; font-size: 30px;
    background-color: blue;
}